.header{
    height: 135px;
    width: 1536px;
    background: #36373E;
    margin-left: -8px;
    margin-top: -8px;
}
.logo{
    height: 187px;
    margin-top: -26px;
}
#profile{
    height: 50px;
    float: right;
    margin-right: 79px;
    margin-top: 40px;
    transition: 0.5s ease;
    cursor: pointer;
  }
  #profile:hover{
    opacity: 0.5;
  }
  .left-side{
    background: #57C087;
    height: 610px;
    margin-left: -8px;
    width: 250px;
  }
  .counting{
    margin-left: 35px;
  }
  #dash{
    font-size: 19px;
    transition: 0.5s ease;
    margin-top: -47px;
    margin-left: 58px;
    width: 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 13px;
    cursor: pointer;
  }
  #dash:hover{
    color: white;
    font-size: 20px;
  }
  .user1{
    height: 41px;
    margin-left: 6px;
    margin-top: 15px;
  }
  #user{
    margin-left: 58px;
    font-size: 19px;
    margin-top: -35px;
    width: 109px;
    cursor: pointer;
    transition: 0.5s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #user:hover{
    color: white;
    font-size: 20px;
  }
  .user2{
    height: 41px;
    margin-left: 6px;
    margin-top: 15px;
  }
  #user1{
    margin-left: 58px;
    font-size: 19px;
    margin-top: -41px;
    width: 109px;
    transition: 0.5s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .user3{
    height: 41px;
    margin-left: 6px;
    margin-top: 15px;
  }
  #user2{
    margin-left: 58px;
    font-size: 19px;
    margin-top: -41px;
    width: 109px;
    transition: 0.5s ease;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #user2:hover{
    color: white;
    font-size: 20px;
  }
  .user4{
    height: 41px;
    margin-left: 6px;
    margin-top: 15px;
  }
  #user3{
    margin-left: 58px;
    font-size: 19px;
    margin-top: -38px;
    width: 109px;
    transition: 0.5s ease;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #user3:hover{
    color: white;
    font-size: 20px;
  }
  .user5{
    height: 41px;
    margin-left: 6px;
    margin-top: 15px;
  }
  #user4{
    margin-left: 58px;
    font-size: 19px;
    margin-top: -38px;
    width: 109px;
    transition: 0.5s ease;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #user4:hover{
    color: white;
    font-size: 20px;
  }
  .user6{
    height: 41px;
    margin-left: 6px;
    margin-top: 15px;
  }
  #user7{
    margin-left: 58px;
    font-size: 19px;
    margin-top: -38px;
    width: 109px;
    transition: 0.5s ease;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #user7:hover{
    color: white;
    font-size: 20px;
  }
  #user5{
    margin-left: 151px;
    font-size: 19px;
    color: #7c3636;
    margin-top: 57px;
    font-weight: 700;
    width: 109px;
    transition: 0.5s ease;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  #user5:hover{
    color: white;
    font-size: 20px;
  }
  .user7{
    height: 34px;
    margin-left: 6px;
    margin-top: 15px;
  }
  .bx{
    height: 70px;
    background: gray;
  }
  #user-head{
    font-family: system-ui;
    margin-top: -548px;
    color: brown;
    margin-left: 736px;
  }
  #inner-box{
    height: 472px;
    margin-top: 0px;
    width: 850px;
    box-shadow: -2px 2px 4px black;
    margin-left: 457px;
    background-color: rgb(214 214 214);
    border-radius: 3px;
    overflow-y: scroll;
}
  #heading{
    margin-left: 330px;
    margin-top: 87px;
    font-family: system-ui;
    color: rgb(224, 226, 229);
  }
  #rhl{
    color: #476837;
    font-family: 'poppins';
    margin-left: 17px;
    font-weight: 800;
    font-size: 22px;
  }
  #box1{
    height: 160px;
    border-radius: 3px;
    width: 497px;
    margin-left: 17px;
    background-color: rgb(155, 153, 153);
    margin-top: -11px;
  }
  #feedback{
    font-family: 'poppins';
    font-size: 17px;
    width: 366px;
    margin-left: 10px;
  }
  #str1{
    height: 27px;
    margin-left: 11px
  }
  #str2{
    height: 27px;
    margin-left: 11px
  }
  #str3{
    height: 27px;
    margin-left: 11px
  }
  #str4{
    height: 27px;
    margin-left: 11px
  }
  #str5{
    height: 27px;
    margin-left: 11px
  }
  #rhl1{
    color: #476837;
    font-family: 'poppins';
    margin-left: 326px;
    margin-top: 87px;
    font-weight: 800;
    font-size: 22px;
  }
  #box2{
    height: 160px;
    border-radius: 3px;
    width: 497px;
    margin-right: 11px;
    float: right;
    background-color: rgb(155, 153, 153);
    margin-top: -18px;
  }
  #feedback1{
    font-family: 'poppins';
    font-size: 17px;
    width: 366px;
    margin-top: 3px;
    margin-left: 10px;
  }
  #str6{
    height: 27px;
    margin-left: 11px
  }
  #str7{
    height: 27px;
    margin-left: 11px
  }
  #str8{
    height: 27px;
    margin-left: 11px
  }
  #str9{
    height: 27px;
    margin-left: 11px
  }
  #str10{
    height: 27px;
    margin-left: 11px
  }
  #rhl2{
    color: #476837;
    font-family: 'poppins';
    margin-left: 17px;
    margin-top: 240px;
    font-weight: 800;
    font-size: 22px;
  }
  #box3{
    height: 160px;
    border-radius: 3px;
    width: 497px;
    margin-left: 17px;
    background-color: rgb(155, 153, 153);
    margin-top: -18px;
  }
  #feedback2{
    font-family: 'poppins';
    font-size: 17px;
    width: 366px;
    margin-top: 3px;
    margin-left: 10px;
  }
  #str11{
    height: 27px;
    margin-left: 11px
  }
  #str12{
    height: 27px;
    margin-left: 11px
  }
  #str13{
    height: 27px;
    margin-left: 11px
  }
  #str14{
    height: 27px;
    margin-left: 11px
  }
  #str15{
    height: 27px;
    margin-left: 11px
  }
  .link1{
    text-decoration: none;
    color: black;
   }