#header{
    height: 380px;
    margin-top: -8px;
    width: 1536px;
    background-color: #476837;
    margin-left: -8px;
}
#box{
    height: 600px;
    box-shadow: black 0px 0px 8px;
    width: 700px;
    border-radius: 4px;
    margin-top: -251px;
    margin-left: 410px;
    background-color: white;
}
#head-word{
    margin-top: 55px;
    margin-left: 17px;
    font-family: 'poppins';
    font-weight: 700;
    font-size: 19px;
}
#cash-value{
    height: 75px;
    margin-left: 39px;
    width: 216px;
    border: 0px;
    color: black;
    background-color: rgb(184, 180, 180);
    margin-top: 43px;
    font-family: 'poppins';
    border-radius: 10px;
    font-size: 40px;
    font-weight: 600;
}
.rupee{
    height: 31px;
    margin-left: -259px;
    margin-top: 51px;
}
.pay{
    height: 114px;
    width: 158px;
    cursor: pointer;
    margin-left: 106px;
    margin-top: 43px;
}
#back{
    width: 37px;
    margin-top: 25px;
    float: left;
    cursor: pointer;
    margin-left: 18px;
  }
  #head-word1{
    margin-top: 14px;
    color: #476837;
    margin-left: 140px;
    font-family: 'poppins';
    font-weight: 700;
    font-size: 19px;
}