#logo{
    position: absolute;
    width: 337px;
    height: 324px;
left: 60px;
top: -80px;
}
#header{
    height: 202px;
    margin-top: -8px;
    width: 1519px;
    margin-left: -8px;
    box-shadow: 0px 1px 9px black;
    background: white;
    transition: margin-left .5s;
    border-bottom: 3px solid #476837;
}
#ul{
  margin-left: 405px;
  margin-top: 38px;
}
#list1{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 26px;
    cursor: pointer;
    transition: 1s ease;
}
#list2{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 26px;
    cursor: pointer;
    transition: 1s ease;
}
#list3{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 26px;
    cursor: pointer;
    transition: 1s ease;
}
#list4{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 26px;
    cursor: pointer;
    transition: 1s ease;
}
#list1:hover{
    border: 2px solid rgb(255, 255, 255) ;
    background-color: #849a78;
    border-radius: 50px;
    color: white;
}
#list2:hover{
    border: 2px solid rgb(255, 255, 255) ;
    background-color: #849a78;
    border-radius: 50px;
    color: white;
}
#list3:hover{
    border: 2px solid rgb(255, 255, 255) ;
    background-color: #849a78;
    border-radius: 50px;
    color: white;
}
#list4:hover{
    border: 2px solid rgb(255, 255, 255) ;
    background-color: #849a78;
    border-radius: 50px;
    color: white;
}
#img{
    width: 1519px;
    margin-top: 0px;
    opacity: 0.5;
    margin-left: -8px;
    height: 700px;
    border-radius: 0px 0px 100px 100px;
    border-bottom: 4px solid;
}
#quotes{
    font-family: system-ui;
    font-size: 51px;
    opacity: 0.;
    font-weight: 700;
    width: 850px;
    margin-left: 388px;
    margin-top: -502px;
}
#round{
    margin-left: 169px;
    margin-top: 372px;
    width: 210px;
    height: 210px;
    transition: 1s ease;
    border-radius: 126px;
    border: 5px solid white;
    background: rgb(77 123 75);
    cursor: pointer;
}
#round1{
    margin-left: 482px;
    margin-top: -221px;
    width: 210px;
    height: 210px;
    transition: 1s ease;
    border-radius: 126px;
    border: 5px solid white;
    background: #C6B973;
    cursor: pointer;
}
#round2{
    margin-left: 804px;
    margin-top: -219px;
    width: 210px;
    height: 210px;
    transition: 1s ease;
    border-radius: 126px;
    border: 5px solid white;
    background: #5E97CB;
    cursor: pointer;
}
#round3{
    margin-left: 1115px;
    margin-top: -219px;
    width: 210px;
    height: 210px;
    transition: 1s ease;
    border-radius: 126px;
    border: 5px solid white;
    background: #B45656;
    cursor: pointer;
}
#skill{
    margin-left: 34px;
    font-family: system-ui;
    font-size: 26px;
    font-weight: 900;
    margin-top: 11px;
    color: black;
}
#round:hover{
    background-color: rgb(143, 137, 137);
    color: white;
    width: 215px;
    height: 215px;
}
#round1:hover{
    background-color: rgb(143, 137, 137);
    color: white;
    width: 215px;
    height: 215px;
}
#round2:hover{
    background-color: rgb(143, 137, 137);
    color: white;
    width: 215px;
    height: 215px;
}
#round3:hover{
    background-color: rgb(143, 137, 137);
    color: white;
    width: 215px;
    height: 215px;
}
#about{
    margin-left: 59px;
    font-family: system-ui;
    font-size: 26px;
    font-weight: 900;
    margin-top: 11px;
    color: #595436;
}
#sponsor{
    margin-left: 32px;
    font-family: system-ui;
    font-size: 22px;
    font-weight: 900;
    margin-top: 11px;
    color: #47456e;
}
#fund{
    margin-left: 46px;
    font-family: system-ui;
    font-size: 26px;
    font-weight: 900;
    margin-top: 11px;
    color: #f2cd22;
}
.skillhub{
    height: 565px;
    margin-top: 51px;
    margin-left: -8px;
    width: 1519px;
    background-color: rgb(77 123 75);
}
.desc{
    font-size: 34px;
    font-family: 'poppins','sans-serif';
    margin-left: 672px;
    margin-top: -370px;
    font-weight: 700;
    color: white;
}
.head{
    font-size: 55px;
    font-family: system-ui;
    margin-left: 0px;
    color: rgb(57 57 57);
}
.about{
    height: 565px;
    margin-top: 0px;
    margin-left: -8px;
    width: 1519px;
    background-color: #C6B973;
}
.sponsor{
    height: 565px;
    margin-top: 0px;
    margin-left: -8px;
    width: 1519px;
    background-color: #5E97CB;
}
.fund{
    height: 565px;
    margin-top: 0px;
    margin-left: -8px;
    width: 1519px;
    background-color: #B45656;
}
.desc1{
    font-size: 34px;
    font-family: 'poppins','sans-serif';
    margin-left: 672px;
    margin-top: -448px;
    font-weight: 700;
    color: white;
}
.desc2{
    font-size: 34px;
    font-family: 'poppins','sans-serif';
    margin-left: 672px;
    margin-top: -424px;
    font-weight: 700;
    color: white;
}
.footer{
    height: 600px;
    margin-left: -8px;
    margin-top: 0px;
    width: 1519px;
    background-color: #606060;
  }
  #inner-content{
    margin-left: 466px;
    font-size: 24px;
    margin-top: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ffffff;
  }
  .round{
    margin-left: 380px;
    width: 60px;
    height: 60px;
    border-radius: 69px;
    border: 5px solid white;
    background: white;
  }
  .round1{
    margin-left: 545px;
    width: 60px;
    margin-top: -70px;
    height: 60px;
    border-radius: 69px;
    border: 5px solid white;
    background: white;
  }
  .round2{
    margin-left: 713px;
    width: 60px;
    margin-top: -70px;
    height: 60px;
    border-radius: 69px;
    border: 5px solid white;
    background: white;
  }
  .round3{
    margin-left: 878px;
    width: 60px;
    margin-top: -70px;
    height: 60px;
    border-radius: 69px;
    border: 5px solid white;
    background: white;
  }
  .round4{
    margin-left: 1044px;
    width: 60px;
    margin-top: -70px;
    height: 60px;
    border-radius: 69px;
    border: 5px solid white;
    background:white;
  }
  .line1{
    height: 1px;
    margin-top: 69px;
    width: 934px;
    background-color: #ffffff;
    margin-left: 279px;

  }
  #gmail{
    margin-top: -27px;
    margin-left: 466px;
    font-size: 21px;
    font-weight: bold;
    color: #d6c9c9;
  }
  #mobile{
      margin-top: -27px;
      margin-left: 466px;
      font-size: 21px;
      font-weight: bold;
      color: #d6c9c9;
    }
    #instagram{
      margin-top: -29px;
    margin-left: 466px;
    font-size: 21px;
    font-weight: bold;
    color: #d6c9c9;
    }
    #img0{
      height: 20px;
      width: 20px;
      margin-left: 433px;
      margin-top: 42px;

    }
    #img2{
      height: 20px;
      width: 20px;
      margin-left: 433px;
      margin-top: 11px;

    }
    #img3{
      height: 20px;
      width: 20px;
      margin-left: 433px;
      margin-top: 10px;

    }
    #img4{
      height: 20px;
      width: 20px;
      margin-left: 433px;
      margin-top: 10px;
    }
    #img5{
      height: 20px;
      width: 20px;
      margin-left: 433px;
      margin-top: 10px;
    }
    #twitter{
      margin-top: -29px;
    margin-left: 466px;
    font-size: 21px;
    font-weight: bold;
    color: #d6c9c9;
    }
    #facebook{
        margin-top: -29px;
      margin-left: 466px;
      font-size: 21px;
      font-weight: bold;
      color: #d6c9c9;
      }
    #contactus{
        float: right;
        font-family: 'poppins','sans-serif';
        margin-right: 63px;
        margin-top: -59px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        transition: 1s ease;
        cursor: pointer;
    }
    #contactus:hover{
      color: #d6c9c9;
    }
#profile{
  height: 40px;
    margin-left: 1425px;
    opacity: inherit;
    cursor: pointer;
    transition: 0.5s ease;
}
#profile:hover{
  opacity: 0.5;
}
#back{
  width: 37px;
  margin-top: 10px;
  float: left;
  cursor: pointer;
  margin-left: 18px;
}
#feedback{
  float: right;
  font-family: 'poppins','sans-serif';
  margin-right: 244px;
  margin-top: -59px;
  font-size: 20px;
  color: black;
  transition: 1s ease;
  cursor: pointer;
}
#feedback:hover{
  color: #d6c9c9;
}
.link{
  text-decoration: none;
  color: black;
  transition: 1s ease;
}
.link:hover{
  color: white;
}


